{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "func-names": [
      "error",
      "never"
    ],
    "comma-dangle": 0,
    "arrow-parens": [
      2,
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "quotes": [
      2,
      "double"
    ],
    "space-before-function-paren": ["error", {
      "anonymous": "ignore",
      "named": "ignore",
      "asyncArrow": "ignore"
    }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error"
  },
  "env": {
    "jest": true,
    "jest/globals": true,
    "es6": true
  },
  "plugins": [
    "jest"
  ]
}