@font-face {
  font-family: 'baconbuffet-regular';
  src: url('../fonts/baconbuffetDEMO.otf');
  src: url('../fonts/baconbuffetDEMO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}