.right-side {
  margin: 3px;
  border: 1px solid;
  width: 60%;

  .category-title {
    font-size: 36px;
    margin: 30px 15px 30px 60px;
    height: 70px;
    display: inline-block;
  }

  .editor-area {
    margin: 30px 15px 30px 0;
    height: 70px;
    float: right;
  }

  .list {
    margin: 0 15px 0 60px;
  }

  .todo-editor {
    padding-left: 60px;


    .control-buttons {
      float: right;
      margin: 40px;

      .save-button, .cancel-button {
        font-size: 20px;
        margin: 5px;
      }
    }

    .todo-name {
      width: 100%;
      font-size: 20px;
      clear: both;

      input {
        width: 450px;
      }
    }

    .is-done {
      margin-top: 20px;
    }

    .description {
      margin: 60px 60px 60px 0;
      border: 1px solid;
      padding: 4px 4px 0 4px;

      textarea {
        width: 100%;
        resize: none;
        font-size: 18px;
        padding: 6px;
      }
    }
  }
}